{% extends "tupa/base.html" %}

{% block title %}{{ heading }}{% endblock %}

{% block content %} 


<h1>{{ heading }}</h1>

    {% if formset %}
    <form action="" method="post">
        {{ formset.non_field_errors }}
        <table>
            <th>Tunnus</th><th>Etunimi</th><th>Sukunimi</th><th>Sähköposti</th><th>Ryhmät</th><th>Poista</th>
        {% for form in formset %}
            <tr>
                {{ form.id }}
                <td>{{ form.username }}{{ form.username.errors }}</td>
                <td>{{ form.first_name }}{{ form.first_name.errors }}</td>
                <td>{{ form.last_name }}{{ form.last_name.errors }}</td>
                <td>{{ form.email }}{{ form.email.errors }}</td>
                <td>{{ form.groups }}{{ form.groups.errors }}</td>
                <td>{{ form.DELETE }}{{ form.DELETE.errors }}</td>
            </tr>
        {% endfor %}
        </table>
        {{ formset.management_form }}
        {% csrf_token %}
        {% include "tupa/tallenna.html" %}
    </form>
    {% endif %}

<br>
<h1>Lisää uusi käyttäjä</h1>

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    {% if form %}
    <form action="" method="post">
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        {% include "tupa/tallenna.html" %}
    </form>
    {% endif %}

{% endblock %}

