astroid==1.4.5
colorama==0.3.7
Django==1.9.5
django-linter==0.7
flake8==2.5.4
lazy-object-proxy==1.2.1
mccabe==0.4.0
pep8==1.7.0
psycopg2==2.6.1
pyflakes==1.0.0
pylint==1.5.1
six==1.10.0
wrapt==1.10.7
