{% extends "tupa/base.html" %}
{% block title %}{{ heading }}{% endblock %}
{% block content %}

<form action="" method="post">
  <p>{% include "tupa/tallenna.html" %}</p>
  {% csrf_token %}

  {% if form %}
    <fieldset>
      <legend>Kisa</legend>
      {{ form }}
    </fieldset>
  {% endif %}
  <br>
  {% if formset %}
    <fieldset>
      <legend>Sarjat</legend>
      {{ formset.management_form  }}
      {% for sarjaform in formset %}
        <fieldset>
          {{ sarjaform }}
        </fieldset>
      {%endfor%}
    </fieldset>
  {% endif %}

  <p>{% include "tupa/tallenna.html" %}</p>
</form>
{% endblock %}
