<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Kipa - kaikki kisat</title>
<link rel="stylesheet" type="text/css" href="/kipamedia/kipa.css" />
<link rel="stylesheet" type="text/css" href="/kipamedia/tabcontent.css" />
<link rel="icon" type="image/x-icon" href="/kipamedia/favicon.ico" />
</head>
<body>

{% include "tupa/vaara_tietokanta.html" %}

<div id="wrap">
    <div id="header"><div id="pageTitle">{{kisa_nimi}} <font color=00FF00 size=3><b>{{talletettu}}</b></font></div>
        <div id="login">
            {% include "tupa/login.html" %}
        </div>
	</div><!-- /header -->
    <div id="breadcrumbs">
    	<div id="version">{% include "version.html" %}</div>
    </div>
    
    <div id="main" class="clearfix">
    
        <div id="container">
            {% include "tupa/messages.html" %}
            <div id="right" class="column">

		<h1>Kisat</h1>
		<blockquote>
			{% if object_list %}
				<table id="kisataulukko" cellspacing="0">
					{% for kisa in object_list %}
						<tr><td><A href='{{kisa.nimi}}/' > {{kisa.nimi}}</A></td> <td>{{kisa.aika}}</td> <td>{{kisa.paikka}}</td></tr>
					{% endfor %}
				</table>

			{% else %}
			    <p>Ei määriteltyjä kisoja.</p>
			{% endif %}

			</br>
			<input type="button" class="small blue awesome" onclick="location.href='uusiKisa/maarita/';" value="Luo uusi kisa" />
			</br></br>
			<input type="button" class="small blue awesome" onclick="location.href='lisaaKisa/';" value="Lisää kisa tiedostosta" />
		</blockquote>
                
            </div><!-- /right -->
        </div><!-- /container -->
    </div><!-- /main -->
</div><!-- /wrap -->
</body>
</html>
