<!DOCTYPE html>
<html lang="fi">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Kipa - kaikki kisat</title>
        <link rel="stylesheet" type="text/css" href="/kipamedia/kipa.css" />
        <link rel="stylesheet" type="text/css" href="/kipamedia/tabcontent.css" />
        <link rel="icon" type="image/x-icon" href="/kipamedia/favicon.ico" />
    </head>
    <body>
        {% include "tupa/vaara_tietokanta.html" %}
        <div id="wrap">
            <div id="header">
                <div id="page-title">
                    {{ kisa_nimi }} <font color=00FF00 size=3><b>{{ talletettu }}</b></font>
                </div>
                <div class="login-form">{% include "tupa/login.html" %}</div>
            </div>
            <div id="breadcrumbs"></div>
            <div id="main" class="clearfix">
                <div id="container">
                    <div id="right" class="column">
                        <h1>Kisat</h1>
                        <blockquote>
                            {% if object_list %}
                                {% for kisa in object_list %}
                                    <a href="{{ kisa.nimi }}/">{{ kisa.nimi }}</a>
                                    <br>
                                {% endfor %}
                            {% else %}
                                <p>Ei määriteltyjä kisoja.</p>
                            {% endif %}
                            <p>
                                <a href="uusiKisa/maarita/">Luo uusi kisa</a>
                                <br>
                            </p>
                            <p>
                                <a href="lisaaKisa/">Lisää kisa tiedostosta</a>
                                <br>
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">Kipa</div>
    </body>
</html>
