
{% extends "tupa/base.html" %}
{% block title %}Tupa - laskennan tilanne{% endblock %}

{% block header %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Tupa - laskennan tilanne</title>
<link href="kipa.css" rel="stylesheet" type="text/css" />
<script src="enter-as-tab2.js" type="text/javascript"></script>
<script src="keyhandler.js" type="text/javascript"></script>
<script src="jquery-1.3.2.min.js" type="text/javascript"></script>
<script src="jquery.maskedinput-1.2.2.min.js" type="text/javascript"></script>

{% endblock header %}

{% block content %} 
<body>

<h1>Laskennan tilanne</h1>

  <table width="500" border="0" id="taulukko">
    {% for rivi in taulukko %}
        <tr valign="top">
        {%for sarake in rivi %}
                {% if forloop.first %}
                        <font color="#FFFFFF">
                        <td width="62" fgcolor="#FFFFFF" bgcolor="#000000" ><font color="#FFFFFF">{{ sarake.1 }}</font></td>
                {%else%}

                {% ifequal sarake.0 "a" %}
                        <td width="62" class='aloittamatta'>{{sarake.1}}</td>
                {%else%}{% ifequal sarake.0 "o" %}
                        <td width="62" class='osittain'>{{sarake.1}}</td>
                {%else%}{% ifequal sarake.0 "s" %}
                        <td width="62" class='syotetty'>{{sarake.1}}</td>
                {%else%}{% ifequal sarake.0 "t" %}
                        <td width="62" class='tarkistettu'> {{sarake.1}}</td>
                {%else%}{% ifequal sarake.0 "v" %}
                        <td width="62" class='virhe'> {{sarake.1}}</td>
                {%else%}
                        <td width="62" >{{sarake.1}}</td>
                {% endifequal %}
                {% endifequal %}
                {% endifequal %}
                {% endifequal %}
                {% endifequal %}
                {% endif %}
        {%endfor%}
        </tr>
      {%endfor%}
   </table>
    
<br />
  <table width="168" border="0">
    <tr>
      <td width="96"><label>aloittamatta</label></td>

      <td width="62" class='aloittamatta'>&nbsp;</td>
    </tr>

    <tr>
      <td>syötetty osittain</td>
      <td class='osittain'>&nbsp;</td>
    </tr>
    <tr>
      <td><label> syötetty</label></td>

      <td class='syotetty' >&nbsp;</td>
    </tr>
    <tr>
      <td>tarkistettu</td>
      <td class='tarkistettu'>&nbsp;</td>
    </tr>
     <tr>
     <td width="96"><label>syöttövirhe</label></td>

     <td width="62" class='virhe'>&nbsp;</td>
    </tr>
  </table>
  <p><br />

  </p>

</script>
</body>

{% endblock %}

