<h1> {{tehtava}} </h2>

<form action="." method="post">     
    <h2>Tehtäväkohtaiset syötteet: </h2><br>
    <h2>Vartiokohtaiset syötteet: </h2><br>
    <input type="submit" name="syote" value="Lisaa" />
    <input type="submit" name="syote" value="Poista" /> <br>
    {% for maarite in maariteFormit %}
        {{maarite.errors}}
        {{ maarite }} <br>
    {% endfor %}
    <h2>Osapsteiden kaavat: </h2><br>
    
    <h2>Tehtävä: </h2><br>
    <table class="form">
         {{tehtavaForm.nimi.errors}}
         nimi: {{ tehtavaForm.nimi }} <br>
         {{ tehtavaForm.kaava.errors }}
         kaava: {{ tehtavaForm.kaava }}
    </table>
    <input type="submit"name="syote" value="Tallenna" />
    </form>

    
