{% extends "tupa/base.html" %}
{% block content %} 

<h1> {{ heading }}</h1><br>

<A href='{{taakse}}'>taakse</A><br>

<form method="POST" action="">

{% if forms %}
    {% for form in forms%}
        <fieldset>
        <legend>{{form.label}}</legend>
        {{form}} <br>
        </fieldset>
    {% endfor%}
{% endif %}
{% if formsets %}
    {% for formset in formsets %}

        <fieldset>
        <legend>{{formset.label}}</legend>
        {{ formset.management_form }}
        {% for form in formset.forms %}
                <fieldset>
                        {{ form }} <br>
                </fieldset>
        {% endfor %}
        </fieldset>
    {% endfor%}
{% endif %}
<br>
{% include "tupa/tallenna.html" %}
</form>
{% endblock %}

