{% extends "tupa/base.html" %}
{% block content %} 

{%if tehtava %}
<A href='../'>taakse</A> <br>
<h1> Tehtävän {{tehtava}} määritys </h1>
{%else%}
<A href='../../../'>taakse</A> <br>
<h1> Uuden Tehtävän määritys </h1>
{%endif%}

<form action="." method="post">     
    <table class="form">
         {{tehtavaForm.nimi.errors}}
         nimi: {{ tehtavaForm.nimi }} <br>
         {{ tehtavaForm.kaava.errors }}
         kaava: {{ tehtavaForm.kaava }}
    </table>

    <h2>Vartiokohtaiset syötteet: </h2><br>
    {% for maarite in maariteFormit %}
        {{maarite.errors}}
        {{ maarite }} <br>
    {% endfor %}
    
        <input type="submit"name="syote" value="Tallenna" />
    </form>

{% endblock %}
    
