{% extends "tupa/base.html" %}
{% block title %}{{ heading }}{% endblock %}
{% block content %} 

<p><a href='../../'>Etusivu</a> -&gt; vartioiden määritys<br></p>

<h2>Vartioiden määritys</h2>
<h3>Valitse sarja ja syötä vartiot</h3>

{% if sarja_vartiot %} 
        <form action="." method="post">     
	<ul id="sarjatabs" class="shadetabs">
		{% for sarja in sarja_vartiot%}
			    <li><a href="#" rel="sarja{{ sarja.0.id }}"
                                {% if forloop.first %} class="selected"{% endif %}
                                >{{ sarja.0.nimi }}</a></li>
		{% endfor %}
	</ul>

	<div style="border:1px solid gray; width:800px; margin-bottom: 1em; padding: 10px">
	
		{% for sarja in sarja_vartiot%}
		<div id="sarja{{ sarja.0.id }}" class="tabcontent">
			<ul id="tehtavatabs" class="">
                                {{sarja.1.management_form}}
				{% for vartio in sarja.1.forms %}
				   {{vartio}}<br>
				   <label>{{vartio.label}}</label><em>{{vartio.help_text}}</em><br>
                                {% endfor %}
			</ul>
		</div>
		{% endfor %}
	</div>
        
        {% include "tupa/tallenna.html" %}

{% else %}
    <p>Ei määriteltyjä sarjoja.</p>

{% endif %}

{% endblock %}

