{% extends "tupa/base.html" %}
{% block header %}
{{ block.super }}
<script type="text/javascript" src="/kipamedia/enter-as-tab2.js"></script>
<script type="text/javascript" src="/kipamedia/keyhandler.js"></script>
<script type="text/javascript" src="/kipamedia/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/kipamedia/jquery.maskedinput-1.2.2.min.js"></script>
<script type="text/javascript" src="/kipamedia/highlight-active-input.js"></script>
{% endblock header%}

{% block content %} 
<body onLoad="document.forms.form1.textfield.focus()">

<h1>Tehtävä: {{tehtava.nimi}} </h1>
<h2>Sarja: {{tehtava.sarja.nimi}} </h2>

<A href='../../'>taakse</A>

<form action="." name="form1" method="post">     
   
    <table id="taulukko">
        <tr>
            <td>
            Syötteen nimi:
            </td>
            {% for maarite in maaritteet %}
               <td>
                   {{ maarite.nimi }} 
               </td>
            {% endfor %}
        </tr>
        <tr>
            <td>
            Syötteen tyyppi
            </td>
            {% for maarite in maaritteet %}
               <td>
                   {{ maarite.tyyppi }} 
               </td>
            {% endfor %}
        </tr>
        <tr>
            <td>
            Syötteen kuvaus:
            </td>
            {% for maarite in maaritteet %}
               <td>
                   {{ maarite.kali_vihje }} 
               </td>
            {% endfor %}
        </tr>
        <tr>
               <td>
               Vartiot:
               </td>
        </tr>

        {% for vartio in syotteet %}
            <tr valign="top" class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
                  <td>
                  {{ vartio.0.nro}}
                  {{ vartio.0.nimi }}
                  </td>
                  {% for kentta in vartio.1 %}
                         <td>
                         {{kentta.errors}}
                         {{kentta.arvo}}
                         </td>
                  {% endfor %}
            </tr>
        {% endfor %}

     
    </table>
    {% include "tupa/tallenna.html" %}
    </form>

<p><a href=""><span onmouseover="tooltip.show('Syötä vartion tulos: Raakap.');" onmouseout="tooltip.hide();">Katso tämän tehtävän tulokset</span></a></p>

<p>
e - vartio ei ole tehnyt tehtävää<br />
h - vartion suoritus on hylätty<br />
</p>


<!-- tarvitaan, jotta enterillä pääsisi seuraavaan kenttään, pitää olla sivun lopussa, formin pitää olla nimeltään form1 -->
<script type='text/javascript'>	
enterToTab(document.forms.form1, false);
document.forms.form1.elements[0].focus();

</script>

	
<script type="text/javascript" language="javascript" src="/kipamedia/tooltip.js"></script>

<!-- Maskaus vaikuttaa niihin tekstikenttiin, joiden ID on listattu alla -->
<script type="text/javascript">
jQuery(function($){
   $("#aika").mask("9:99:99");
});
</script>

<script type="text/javascript">
// Initialize the input highlight script
initInputHighlightScript();
</script> 

{% endblock %}

