{% extends "tupa/base.html" %}
{% block content %} 

<A href='../'>taakse</A>

<h2>Tulosten syöttö</h2>
<h3>Valitse sarja ja tehtävä</h3>

<br>

{% if tehtava_taulukko %}
	<ul id="sarjatabs" class="shadetabs">
		{% for sarja in tehtava_taulukko%}
		    {% ifequal sarja tehtava_taulukko.0  %}
			    <li><a href="#" rel="sarja{{ sarja.0.id }}" class="selected">{{ sarja.0.nimi }}</a></li>
			{% else %}
			    <li><a href="#" rel="sarja{{ sarja.0.id }}">{{ sarja.0.nimi }}</a></li>
		    {% endifequal %}
		{% endfor %}
	</ul>
       
	<div style="border:1px solid gray; width:800px; margin-bottom: 1em; padding: 10px">
	
		{% for sarja in tehtava_taulukko%}
		<div id="sarja{{ sarja.0.id }}" class="tabcontent">
			<ul id="tehtavatabs" class="">
				{% for tehtava in sarja.1 %}
					<li><a href="/tupa/{{sarja.0.kisa.nimi}}/syota/tehtava/{{ tehtava.id }}">{{ tehtava.numero }}  {{ tehtava.nimi }}</a></li>
				{% endfor %}
			</ul>
		</div>
		{% endfor %}
	</div>



{% else %}
    <p>Ei määriteltyjä sarjoja tai tehtäviä.</p>
{% endif %}

{% endblock %}
 
