{% extends "tupa/base.html" %}
{% block title %}{{tehtava.nimi}}{% endblock %}
{% block header %}
{{ block.super }}
<script type="text/javascript" src="/kipamedia/enter-as-tab2.js"></script>
<script type="text/javascript" src="/kipamedia/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/kipamedia/jquery.maskedinput-1.2.2.min.js"></script>
<script type="text/javascript" src="/kipamedia/highlight-active-input.js"></script>
<script type="text/javascript" src="/kipamedia/typecast.js"></script>
<script type="text/javascript" src="/kipamedia/typecast.config.js"></script>
{% endblock header%}

{% block content %} 
<body onLoad="document.forms.form1.textfield.focus()">

<h1>Tehtävä: {{tehtava.nimi}} </h1>
{% if tarkistus %}
<p><a href='../../../../'>Etusivu</a> -&gt; <a href='../../'>Valitse tehtävä</a> -&gt; {{ tehtava.nimi }}<br></p>
{% else %}
<p><a href='../../../'>Etusivu</a> -&gt; <a href='../../'>Valitse tehtävä</a> -&gt; {{ tehtava.nimi }}<br></p>
{% endif %}


<form action="." name="form1" method="post">     
<table width="600" border="0" cellpadding="2" cellspacing="0">
  <tr>
    <td width="100" class="tauluOtsikko">Tehtävä:</td>
    <td colspan="2" bgcolor="#E8EDFF">{{tehtava.jarjestysnro}} &nbsp; &nbsp; {{tehtava.nimi}}</td>
  </tr>
  <tr>
    <td class="tauluOtsikko">Sarja:</td>
    <td colspan="2" bgcolor="#E8EDFF">{{tehtava.sarja.nimi}}</td>
  </tr>
  <tr>
    <td valign="middle" class="tauluOtsikko">Yhteyshenkilö:</td>
    <td valign="middle" bgcolor="#E8EDFF">&nbsp;</td>
    <td bgcolor="#E8EDFF">&nbsp;</td>
  </tr>
  <tr valign="middle">
    <td valign="middle" class="tauluOtsikko">Tehtävän tila:</td>
    {%ifequal tilanne "a"%}
    <td width="150" valign="middle" bgcolor="#FF4F00"><label>aloittamatta</label></td>
    {% endifequal %}
    {%ifequal tilanne "o"%}
    <td width="150" valign="middle" bgcolor="#FFFF66"><label>syötetty osittain</label></td>
    {% endifequal %}
    {%ifequal tilanne "s"%}
    <td width="150" valign="middle" bgcolor="#b9f73e"><label>syötetty</label></td>
    {% endifequal %}
    {%ifequal tilanne "t"%}
    <td width="150" valign="middle" bgcolor="#679b00"><label>tarkistettu</label></td>
    {% endifequal %}

    
{% if not tarkistus %}
    <td bgcolor="#E8EDFF"><label><input type="checkbox" {%if tarkistettu %}checked="checked" {% endif %} name="tarkistettu" id="tarkistettu" />tarkistettu</label></td>
{% endif %}
  </tr>
</table>
<br />

   
    <table id="taulukko" border="0" cellpadding="2" cellspacing="0">
        <tr>
            <th colspan="2">
            Syötteen nimi:
            </th>
            {% for maarite in maaritteet %}
               <th>
                   {{ maarite.nimi }} 
               </th>
            {% endfor %}
        </tr>
        <tr>
            <th colspan="2">
            Syötteen tyyppi:
            </th>
            {% for maarite in maaritteet %}
               <th>
                   {{ maarite.tyyppi }} 
               </th>
            {% endfor %}
        </tr>
        <tr>
            <th colspan="2">
            Syötteen kuvaus:
            </th>
            {% for maarite in maaritteet %}
               <th>
                   {{ maarite.kali_vihje }} 
               </th>
            {% endfor %}
        </tr>

        {% for vartio in syotteet %}
            <tr valign="top" class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
                  <td width="15">
                  {{ vartio.0.nro}}
                  </td>
		<td width="100">
                  {{ vartio.0.nimi }}
		</td>
                  {% for kentta in vartio.1 %}
                         <td{% if  kentta.syottovirhe %} 
                                bgcolor="#FF4F00"
                         {%endif%}>
                         
                         {{kentta.errors}}
                         {{kentta.arvo}}
                         {{kentta.tarkistus}}
                         </td>
                  {% endfor %}
            </tr>
        {% endfor %}

     
    </table>
    {% include "tupa/tallenna.html" %}
    </form>

<p>
e - vartio ei ole tehnyt tehtävää<br />
h - vartion suoritus on hylätty<br />
</p>

<p><a href="../../../maarita/tehtava/{{tehtava.id}}/">Tehtävän määrittely</a></p>
<p><a href="">Katso tämän tehtävän tulokset</a></p>

<!-- tarvitaan, jotta enterillä pääsisi seuraavaan kenttään, pitää olla sivun lopussa, formin pitää olla nimeltään form1 -->
<script type='text/javascript'>	
	enterToTab(document.forms.form1, false);
	document.forms.form1.elements[0].focus();
</script>

	
<script type="text/javascript" language="javascript" src="/kipamedia/tooltip.js"></script>

<!-- Maskaus vaikuttaa niihin tekstikenttiin, joiden ID on listattu alla -->
<script type="text/javascript">
jQuery(function($){
   $("#aika").mask("9:99:99");
});
</script>

<script type="text/javascript">
// Maskaa input-kentät Typecastilla
	window.onload = go;
	function go(){
		Typecast.Init();
	}
</script>

<script type="text/javascript">
// Initialize the input highlight script
initInputHighlightScript();
</script> 

{% endblock %}

