{% extends "tupa/valitse.html" %}

{% block sarake %} 
	<table width="600" border="1">
        <tr>
        <td></td>
                {% for kentta in sarake.tiedot.0.tehtavat %}
                        <td>
                                {{ kentta.nimi }}
                        </td>
                {% endfor %}
        </tr>
        <A href="/kipa/{{sarake.sarja.kisa.nimi}}/luo/sarja/{{sarake.sarja.id}}/testitulokset/">
        luo testitulokset sarjalle </A><br>
		{% for rivi in sarake.tiedot %}
                <tr>
                <td>{{rivi.nimi}}</td>
			    {% for kentta in rivi.formit%}
			         <td>{{ kentta }}{{kentta.errors}}</td>
			    {% endfor %}    
		      </tr>    
		{% endfor %}
	</table>
{% endblock%}
{% block content %}
        <form action="." method="post">     
        {{ block.super }}
        {% include "tupa/tallenna.html" %}
{% endblock%}
</form>

