<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Tulospalvelu</title>
<link href="main.css" rel="stylesheet" type="text/css" />
</head>
<body>

<A href='../../'>taakse</A>

<h1>NÄYTÄ TULOKSET</h1>
 {{ tulos_taulukko.0.0.kisa.nimi}} <br>  

<br
<p>
{% if tulos_taulukko %}
	<table width="600" border="1">
		{% for rivi in tulos_taulukko%}
                      <tr>
			    {% for sarake in rivi %}
			        <td>{{ sarake }}</td>
			    {% endfor %}    
		      </tr>    
		{% endfor %}
	</table>
       
{% else %}
    <p>Ei tuloksia.</p>
{% endif %}

<p>
 p = vartion suoritus puuttuu<br>
 h = vartion suoritus hylätty<br>
 k = vartio keskeyttänyt<br>
</p>

</form>
</body>
</html>
