{% extends "tupa/base.html" %}
{% block title %}Sarjakohtaiset tulokset{% endblock title %} 
{% block content %} 

<h1>NÄYTÄ TULOKSET</h1>
 {{ tulos_taulukko.0.0.kisa.nimi}} <br>  

<p><A href='../../'>taakse</A></p>

<br>
<p>
{% if tulos_taulukko %}
	<table width="100%" border="1">
		{% for rivi in tulos_taulukko%}
                      <tr>
			    {% for sarake in rivi %}
			         <td>{{ sarake }}</td>
			    {% endfor %}    
		      </tr>    
		{% endfor %}
	</table>
       
{% else %}
    <p>Ei tuloksia.</p>
{% endif %}

<p>
 S = syöttämättä<br>
 H = vartion suoritus hylätty<br>
 K = vartio keskeyttänyt<br>
 None = laskentavirhe
</p>
</form>

<p><a href="../pdf/1/">Tulokset PDF-muodossa</a></p> <!-- MITEN SAAN TOHON YKKÖSEN TILALLE SARJA_ID:N? /JOONAS-->
{% endblock %}
