{% extends "tupa/base.html" %}
{% block title %}Sarjakohtaiset tulokset{% endblock title %} 
{% block content %} 

<table width="100%" border="0" id="tulostaulukko_otsikko">
<tr valign="top">
	<td width="33%"><h1 style:"margin:0; padding:0;">{{kisa_nimi}}</h1></td>
	<td width="33%" align="center"><h1>{{heading}}</h1></td>
	<td width="33%" align="right">&nbsp;</td>
</tr>
<tr>
	<td>{{kisa_aika}}<br> {{kisa_paikka}}</td>
	<td align="center"><br>{% now "j.n.Y H:i"%}</td>
	<td align="right">&nbsp;</td>
</tr>
</table>

<br>
<p>
{% if tulos_taulukko %}
	<table width="100%" id="tulostaulukko_screen">
		{% for rivi in tulos_taulukko%}
                      
                      <tr>
                {% for sarake in rivi %}
                     {% if forloop.parentloop.first %}
                     {% comment %} ylarivi {% endcomment %}
                                {% if forloop.first  %}
                                        {% comment %} ylarivin eka {% endcomment %}
                                        <td> </td><td></td><td></td>
                                {% else %}
                                        {% comment %} ylarivi {% endcomment %}

                                        <td align="right"><b>
                                        {% if sarake.jarjestysnro %}
                                                {{ sarake.jarjestysnro }}
                                        {% endif %}
                                        </b></td>
                                {% endif %}
                        {% endif %}
			    {% endfor %}    
                      </tr>
                      <tr valign='top'>
                      
                      {%if forloop.first %}
                      <td width="30" align="right">
                      
                      {% comment %} vasen ylanurkka {% endcomment %}
                                <b>sij.</b>
                      </td>
                      {% else %}
                      {% comment %} vasen reuna {% endcomment %}
                      {% endif %}

			    {% for sarake in rivi %}
                     {% if forloop.parentloop.first %}
                     {% comment %} ylarivi {% endcomment %}
                                {% if forloop.first  %}
                                        {% comment %} ylarivin eka {% endcomment %}
                                        <td><b>nro:</b></td><td><b>vartio:</b></td>
                                {% else %}
                                        {% ifequal forloop.counter 2 %}
                                                <td><b>pisteet:</b></td>
                                        {% else %}
                                        {% comment %} ylarivi {% endcomment %}
                                        <td align="right"><b>{{sarake.nimi|slice:":4"}}</b></td>
                                        {% endifequal %}
                                {% endif %}
                     {% else %}
                     {% ifequal forloop.counter 2 %}
                     {% comment %} ekasarake {% endcomment %}
                        <td> {{ sarake.nro }}</td> <td>{{sarake.nimi}}<br> 
                                                {{sarake.lippukunta}}
                                                {%if sarake.lippukunta %} <br> {%endif%} 
                                                {{sarake.piiri}}
                                                {%if sarake.piiri %} <br> {%endif%} </td>
                        </b></td>
                     {% else %}
                     {% comment %} muut sarakkeet {% endcomment %}

                        <td align="right">
                                {% if forloop.first %} <b> {%endif%}     
                                        {{ sarake }}
                                {% if forloop.first %} </b> {%endif%}     
                        </td>
                        

                     {% endifequal %}
                     {% endif %}
                
                     

			    {% endfor %}    
		      </tr>
               {% comment %} ULKONA OLEVAT: {% endcomment %}
                {% if forloop.last %}
                        <tr><td> &nbsp; </td></tr>
                        <tr><td> </td> <td></td><td><b>Ulkopuolella:</b> </td></tr>
                        {% for rivi in ulkona_taulukko%}
                        <tr valign='top'>
			            {% for sarake in rivi %}
                                {% ifequal forloop.counter 2 %}
                                        {% comment %} ekasarake {% endcomment %}
                                        <td>{{ sarake.nro }}</td> <td>  {{ sarake.nimi }}<br> 
                                                {{sarake.lippukunta}}<br> 
                                                {{sarake.piiri}} </td>
                                        
                                        </b></td>
                                {% else %}
                                        {% comment %} muut sarakkeet {% endcomment %}
                                <td align="right">
                                        {% if forloop.first %} <b> {%endif%}     
                                        {{ sarake }}
                                        {% if forloop.first %} </b> {%endif%}     
                                </td>
                                {% endifequal %}
                        {% endfor %}
                        </tr>
                        {% endfor %}
                {% endif %}
        {% endfor %}
        
        <tr>
        <br>
        <br>
        </tr>
		

	</table>
       
{% else %}
    <p>Ei tuloksia.</p>
{% endif %}

<p>
 S = syöttämättä<br>
 H = vartion suoritus hylätty<br>
 K = vartio keskeyttänyt<br>
 None = laskentavirhe
</p>
</form>
<!--<p><a href="../tuloste/{{tulos_taulukko.0.0.id}}/">Tulokset tulostusmuodossa</a></p>-->

{% endblock %}
