<!DOCTYPE html>
<html lang="fi">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Sarjakohtaiset tulokset</title>
        <link href="/kipamedia/favicon.ico" rel="icon" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="/kipamedia/tulostaulukko.css" />
    </head>
    <body id="sarjakohtaiset_tulokset">
        {% load kipatags %}
        <table width="100%" border="0" id="tulostaulukko_otsikko">
            <tr valign="top">
                <td width="33%">
                    <h1 class="tulostaulukko-otsikko uppercase">{{ kisa_nimi|alaviiva_pois }}</h1>
                </td>
                <td width="33%" align="center">
                    <h1 class="tulostaulukko-otsikko">{{ heading }}</h1>
                </td>
                <td width="33%" align="right">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    {% if kisa_aika %}
                        {{ kisa_aika }}
                        <br>
                    {% endif %}
                    {{ kisa_paikka }}
                </td>
                <td align="center">{% now "j.n.Y G:i" %}</td>
                <td align="right">&nbsp;</td>
            </tr>
        </table>
        {% if tulos_taulukko %}
            <table id="tulostaulukko_screen" border=0>
                {% for rivi in tulos_taulukko %}
                    {% if forloop.counter|add:"3"|divisibleby:"5" %}<tr height="10"></tr>{% endif %}
                    {% if forloop.first %}
                        <tr>
                            {% for sarake in rivi %}
                                {% comment %} ylarivi {% endcomment %}
                                {% if forloop.first %}
                                    {% comment %} ylarivin eka {% endcomment %}
                                    <td width="30" align="right"></td>
                                    <td width="30" align="right" class="tulostaulukko-solu"></td>
                                    <td class="vartiosarake-solu"></td>
                                    <td align="right" width=30 class="tulostaulukko-solu"></td>
                                {% else %}
                                    {% comment %} ylarivi {% endcomment %}
                                    {% if sarake.jarjestysnro %}
                                        <td align="right" width=30 class="tulostaulukko-solu">
                                            <b>{{ sarake.jarjestysnro }}.</b>
                                        </td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                        <tr valign="top">
                            <td></td>
                            {% for sarake in rivi %}
                                {% comment %} ylarivi {% endcomment %}
                                {% if forloop.first %}
                                    {% comment %} ylarivin eka {% endcomment %}
                                    <td></td>
                                    <td></td>
                                {% else %}
                                    {% comment %} ylarivi {% endcomment %}
                                    {% if sarake.lyhenne %}
                                        {% if sarake.rastikasky %}
                                            <td align="right" class="tulostaulukko-solu">
                                                <b><a href=" {{ sarake.rastikasky }} " target="_blank">{{ sarake.lyhenne }}</a></b>
                                            </td>
                                        {% else %}
                                            <td align="right" class="tulostaulukko-solu">
                                                <b>{{ sarake.lyhenne }}</b>
                                            </td>
                                        {% endif %}
                                    {% else %}
                                        <td align="right" width="60" class="tulostaulukko-solu">
                                            <b>
                                                {{ sarake.nimi|slice:":6" }}
                                                <br />
                                                {{ sarake.nimi|slice:"6:13" }}
                                                <br />
                                                {{ sarake.nimi|slice:"13:19" }}
                                                <br />
                                            {{ sarake.nimi|slice:"19:25" }}</b>
                                        </td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td align="right">
                                <em>Maxpisteet</em>
                            </td>
                            {% for sarake in rivi %}
                                {% if forloop.first %}
                                    <td align="right" class="tulostaulukko-solu">
                                        <em>{{ sarake.maksimipisteet }}</em>
                                    </td>
                                {% else %}
                                    {% if forloop.counter != 0 %}
                                        {% if forloop.counter != 1 %}
                                            {% if forloop.counter != 2 %}
                                                <td align="right" class="tulostaulukko-solu">
                                                    <em>{{ sarake.maksimipisteet }}</em>
                                                </td>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td width="30" align="right">
                                <b>SIJ.</b>
                            </td>
                            <td width="30" align="right" class="tulostaulukko-solu"></td>
                            <td class="vartiosarake-solu">
                                <b>VARTIO</b>
                            </td>
                            <td align="right" width=30 class="tulostaulukko-solu">
                                <b>YHT</b>
                            </td>
                        </tr>
                        <tr valign="top">
                        {% else %}
                            {% for sarake in rivi %}
                                {% comment %} ylarivi {% endcomment %}
                                {% if forloop.counter == 2 %}
                                    {% comment %} ekasarake {% endcomment %}
                                    <td align="right" class="tulostaulukko-solu">{{ sarake.nro }}</td>
                                    <td>
                                        {{ sarake.nimi }}
                                        {% if sarake.lippukunta %}<br>{% endif %}
                                        {{ sarake.lippukunta }}
                                        {% if sarake.piiri %}<br>{% endif %}
                                        {{ sarake.piiri }}
                                    </td>
                                {% else %}
                                    {% if forloop.counter == 3 %}
                                        <td align="right" class="tulostaulukko-solu">{{ sarake }}</td>
                                        {% comment %} muut sarakkeet {% endcomment %}
                                    {% else %}
                                        <td align="right" class="tulostaulukko-solu">
                                            {% if forloop.first %}<b>{% endif %}
                                                {{ sarake }}
                                                {% if forloop.first %}</b>{% endif %}
                                        </td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </tr>
                    {% comment %} ULKONA OLEVAT: {% endcomment %}
                    {% if forloop.last %}
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <b>Ulkopuolella:</b>
                            </td>
                        </tr>
                        {% for rivi in ulkona_taulukko %}
                            <tr valign="top">
                                {% for sarake in rivi %}
                                    {% if forloop.counter == 2 %}
                                        {% comment %} ekasarake {% endcomment %}
                                        <td align="right" class="tulostaulukko-solu">{{ sarake.nro }}</td>
                                        <td>
                                            {{ sarake.nimi }}
                                            {% if sarake.lippukunta %}<br>{% endif %}
                                            {{ sarake.lippukunta }}
                                            {% if sarake.piiri %}<br>{% endif %}
                                            {{ sarake.piiri }}
                                        </td>
                                    {% else %}
                                        {% comment %} muut sarakkeet {% endcomment %}
                                        <td align="right" class="tulostaulukko-solu">
                                            {% if forloop.first %}<b>{% endif %}
                                                {{ sarake }}
                                                {% if forloop.first %}</b>{% endif %}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            {% if forloop.counter|divisibleby:"5" %}
                                <tr height=10>
                                    <td></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                <tr>
                    <br>
                    <br>
                </tr>
            </table>
        {% else %}
            <p>Ei tuloksia.</p>
        {% endif %}
        <p>
            S = syöttämättä
            <br>
            H = vartion suoritus hylätty
            <br>
            K = vartio keskeyttänyt
            <br>
            E = vartio ei ole tehnyt tehtävää
            <br>
            ! = vartion sijaluku laskettu tasapisteissä määräävien tehtävien perusteella
            <br>
        </p>
    </body>
</html>
