{% extends "tupa/base.html" %}
{% block title %}Sarjakohtaiset tulokset{% endblock title %} 
{% block content %} 

<table width="100%" border="0" id="tulostaulukko_otsikko">
<tr valign="top">
	<td width="33%"><h1 style:"margin:0; padding:0;">{{kisa_nimi}}</h1></td>
	<td width="33%" align="center"><h1>{{heading}}</h1></td>
	<td width="33%" align="right">&nbsp;</td>
</tr>
<tr>
	<td>{{kisa_aika}}<br> {{kisa_paikka}}</td>
	<td align="center"><br>{% now "j.n.Y H:i"%}</td>
	<td align="right">&nbsp;</td>
</tr>
</table>

<br>
<p>
{% if tulos_taulukko %}
	<table width="100%" id="tulostaulukko_screen">
		{% for rivi in tulos_taulukko%}
                      
                      <tr>
                {% for sarake in rivi %}
                     {% if forloop.parentloop.first %}
                     {% comment %} ylarivi {% endcomment %}
                                {% if forloop.first  %}
                                        {% comment %} ylarivin eka {% endcomment %}
                                        <td> </td><td></td><td></td>
                                {% else %}
                                        {% comment %} ylarivi {% endcomment %}

                                        <td align="right"><b>
                                        {% if sarake.jarjestysnro %}
                                                {{ sarake.jarjestysnro }}
                                        {% endif %}
                                        </b></td>
                                {% endif %}
                        {% endif %}
			    {% endfor %}    
                      </tr>
                      <tr>
                      
                      <td align="right">
                      {%if forloop.first %}
                      {% comment %} vasen ylanurkka {% endcomment %}
                                sij.
                      {% else %}
                      {% comment %} vasen reuna {% endcomment %}
                                {{forloop.counter0}}.
                      {% endif %}
                      </td>

			    {% for sarake in rivi %}
                     {% if forloop.parentloop.first %}
                     {% comment %} ylarivi {% endcomment %}
                                {% if forloop.first  %}
                                        {% comment %} ylarivin eka {% endcomment %}
                                        {{ sarake.nimi }} <td><b>nro:</b></td><td><b>vartio:</b></td>
                                {% else %}
                                        {% comment %} ylarivi {% endcomment %}
                                        <td><b>{{sarake.nimi|slice:":4"}}</b></td>
                                {% endif %}
                     {% else %}
                     {% if forloop.first  %}
                     {% comment %} ekasarake {% endcomment %}
                        <td><b> 
                             {{ sarake.nro }}</b></td> <td>  {{ sarake.nimi }}</td>
                        </b></td>
                     {% else %}
                     {% comment %} muut sarakkeet {% endcomment %}
                        <td>
                                        {{ sarake }}
                        </td>
                     {% endif %}
                     {% endif %}
                
                     

			    {% endfor %}    
		      </tr>
            
               {% comment %} ULKONA OLEVAT: {% endcomment %}
                {% if forloop.last %}
                        {% for rivi in ulkona_taulukko%}
                        <tr>
                        <td>  {{forloop.counter}}.</td>
			            {% for sarake in rivi %}
                                {% if forloop.first  %}
                                        {% comment %} ekasarake {% endcomment %}
                                        <td><b> 
                                        {{ sarake.nro }}</b></td> <td>  {{ sarake.nimi }}</td>
                                        </b></td>
                                {% else %}
                                        {% comment %} muut sarakkeet {% endcomment %}
                                <td>
                                        {{ sarake }}
                                </td>
                                {% endif %}
                        {% endfor %}
                        </tr>
                        {% endfor %}
                {% endif %}
        {% endfor %}
        
        <tr>
        <br>
        <br>
        </tr>
		

	</table>
       
{% else %}
    <p>Ei tuloksia.</p>
{% endif %}

<p>
 S = syöttämättä<br>
 H = vartion suoritus hylätty<br>
 K = vartio keskeyttänyt<br>
 None = laskentavirhe
</p>
</form>
<p><a href="../tuloste/{{tulos_taulukko.0.0.id}}/">Tulokset tulostusmuodossa</a></p>

{% endblock %}
