{% if vanha_tietokanta %}
VAROITUS! 
Järjestelmän tietokanta on epäyhteensopivaa versiota tai kirjoitussuojattu, joten kipa ei toimi oikein! <br><br>

Mikäli tietokanta on epäyhteensopiva, voi kipan poistaa ja asentaa uudestaan. Kisat saa muutettua ottamalla vanhalla Kipa -versiolla xml tallenteen (tallenna kisa), ja tuomalla sen uuteen kipaan (palauta kisa)  <br>
<br>
Voi olla myös mahdollista että palvelinohjelmalla ei ole oikeuksia kirjoittaa web/ hakemistoon sekä tupa.db tietokantatiedostoon.<br>
{% endif %}

