{% if vanha_tietokanta %}
VAROITUS! 
Järjestelmän tietokanta on epäyhteensopivaa versiota tai kirjoitussuojattu. <br><br>

Mikäli tietokanta on suoraan kopioitu vanhasta Kipan versiosta täytyy se muuttaa uudempaan muotoon.<br> Ota yhteys järjestelmän ylläpitoon tai aja itse muuttokäsky:<br>
1. Varmuuskopioi vanha tietokantatiedosto tupa.db kipan web/ hakemistosta<br>
Windows: tuplaklikkaa update_db.bat<br>
Linux: ./update_db.sh<br>
<br>
Voi olla mahdollista että palvelinohjelmalla ei ole oikeuksia kirjoittaa web/ hakemistoon sekä tupa.db tietokantatiedostoon.<br>
{% endif %}

