{% extends "tupa/base.html" %}
{% block title %}{{ heading }}{% endblock %}
{% block header %}{% endblock %}
{% block content %}
    <h1>{{ heading }}</h1>
    {% block alku %}{% endblock %}
    {% if taulukko %}
        <ul id="sarjatabs" class="shadetabs">
            {% for sarake in taulukko %}
                {% if sarake == taulukko.0 %}
                    <li>
                        <a href="#" rel="sarake{{ sarake.id }}" class="selected">{{ sarake.otsikko }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="#" rel="sarake{{ sarake.id }}">{{ sarake.otsikko }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="tab-selection-box">
            {% for sarake in taulukko %}
                <div id="sarake{{ sarake.id }}" class="tabcontent">
                    <ul id="tehtavatabs">
                        {% block sarake %}{{ sarake }}{% endblock %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
