{% extends "tupa/valitse.html" %}

{% block alku %}
<form method="POST" action=""> 
{% include "tupa/tallenna.html" %}<br><br>
{% endblock %}

{% block sarake %} 

    {{ sarake.management_form }}
<script type="text/javascript" language="javascript" src="/kipamedia/jquery.form-changed-warning.js"></script>

<p><strong>Vaaditut kent&auml;t: Nro ja Nimi<br />
Sy&ouml;t&auml; 'Keskeytt&auml;nyt' ja 'Ulkopuolella' kenttiin sen teht&auml;v&auml;n numero, josta l&auml;htien vartio on sarjan ulkopuolella. <br />
Keskeytt&auml;neille vartioille ei en&auml;&auml; sy&ouml;tet&auml; tuloksia kyseisest&auml; teht&auml;v&auml;st&auml; l&auml;htien. <br />
Sarjan ulkopuolelle siirtyneet vartiot saavat tulokset normaalisti, mutta niiden sy&ouml;tteit&auml; ei k&auml;ytet&auml; esim. m&auml;&auml;ritelt&auml;ess&auml; interpoloinnissa nopeinta suoritusta.</strong></p>
    {% for form in sarake.forms %}
        {{ form }} <br>
    {% endfor %}
{% endblock%}
{% block content %}
{{ block.super }}
{% include "tupa/tallenna.html" %}
</form>
{% endblock %}
