<!DOCTYPE html>
<html lang="fi">
    <head>
        <title>Ohjelmistovirhe</title>
    </head>
    <body bgcolor="black">
        <p>
            <br>
            <br>
            <font color=red size=5>
                <b>
                    <h1>ERROR 500</h1>
                    Ohjelmistovirhe . Paina <a href="/kipa/">alkuun</a> jatkaaksesi.
                    <br>
                    <br>
                    Kyborgin kahvimuki : {{ error }}
                </b>
            </font>
        </p>
    </body>
</html>
