<fieldset>

<legend> <b>Maksimisuoritus</b> </legend>

<table>
<tr>
<td width=400>
<font color=red><b> 
</b></font>
Parhaat pisteet saa:<br>
<input type="radio" id="{{parhaan_haku.id}}" value="min" name="{{parhaan_haku.name}}" 
{% ifequal parhaan_haku.value "min" %}checked="checked" {% endifequal %}
/> pienin:</label>
<input type="radio" id="{{parhaan_haku.id}}" value="max" name="{{parhaan_haku.name}}"
{% ifequal parhaan_haku.value "max" %}checked="checked" {% endifequal %}
/> suurin:</label>
<input type="radio" id="{{parhaan_haku.id}}" value="" name="{{parhaan_haku.name}}" 
{% ifequal parhaan_haku.value "" %}checked="checked" {% endifequal %}
/> {%if vapaa %} kaava: {%else%} kiintea: {% endif %}</label>
<font color=red><b> 
        {{kiintea.errors}}
</b></font>
<input type="text" name="{{kiintea.name}}" id="{{kiintea.id}}" value="{{kiintea.value}}"{%if vapaa %}size=40{% endif %} /><br> 

<font color=red><b>  </b></font>           
Montako kisapistetta jaetaan: 
<font color=red><b> 
        {{jaettavat.errors}}
</b></font>
<input type="text" name="{{jaettavat.name}}" id="{{jaettavat.id}}" value="{{jaettavat.value}}" />               
</td>
<td>
Tässä kerrotaan suoritus, jolla saa maksimipisteet. Tämä voi olla vartioiden suorituksista pienin, suurin tai jokin kiinteä luku.
</td>

</table>

</fieldset>

