<table border="0">
<p>
Tässä kerrotaan suoritus, jolla saa nolla pistettä. Tämä voi olla jokin kiinteä suoritus tai interpoloinnissa keskimmäisestä tuloksesta laskettu.
</p>
<tr valign="top">
                {{form.valinta}}
                <td><fieldset>
                  <legend>Kiinteä</legend>
                  <p>Kiinteä suoritus:
                    {{form.kiintea}}
                  </p>
                </fieldset>
                  <p>&nbsp;</p></td>
                <td><fieldset>
                
                <legend>Kerroin</legend>
                   <p>
                        {{form.kerroin}}
                      {{form.muu}}
                    </p>
                </fieldset></td>
      </tr>
</table>

