
<font color=red><b> 

</b></font>

<fieldset>
<legend>{{ nimi.value }}</legend>
<font color=red><b>
{{nimi.errors}}
</b></font>
Nimi : <input type="text" id="{{nimi.id}}"  name="{{nimi.name}}" value="{{nimi.value}}" maxlength="255" />
<font color=red><b>
{{jarjestysnro.errors}}
</b></font>
Jarjestysnro : <input type="text" id="{{jarjestysnro.id}}" name="{{jarjestysnro.name}}"  value="{{jarjestysnro.value}}"  />
<font color=red><b>
{{kaava.errors}}
</b></font>
Kaava : <input type="text" id="{{kaava.id}}" name="{{kaava.name}}" value="{{kaava.value}}" size="40" />
<font color=red><b>
{{osatehtavia.errors}}
</b></font>
Osatehtavia : <input type="text" id="{{osatehtavia.id}}" name="{{osatehtavia.name}}" value="{{osatehtavia.value}}" />

{% for form in osa_tehtavat %}
        {{ form }}
{% endfor %}

{{osatehtavat}}

</fieldset>

