<span onmouseover="tooltip.show('<b>Perusfunktiot:</b><br>aikavali(a,b) - vuorokauden ylittävä kello<br>abs(x) - itseisarvo<br>log(x) - logaritmi10<br>ln(x) - luonnollinen logaritmi<br>floor(x) - pyöristys alas<br>ceil(x) - pyöristys ylös<br>sqrt(x) - neliöjuuri<br>exp(x) - exponentti<br>mod(x,y) - jakojäännös<br>pow(x,y) - potenssi<br> interpoloi(x,x1,y1,x2,(y2=0))<br><br><b>Listafunktiot:</b><br>min(x,(...) ), pienin(x, (...) )<br>max(x, (...) ), suurin(x, (...) )<br>sum(x, (...) ) - summa<br>med(x, (...) ) - mediaani<br>kesk(x, (...) ) - keskiarvo' );"
onmouseout="tooltip.hide();">
    <img src="/kipamedia/help_small.png" />
</span>

