<fieldset>

    <legend> <b>Maksimisuoritus</b> </legend>

    <table>
        <tr valign="top">
            <td width="350">
                Parhaat pisteet saa:<br>
                <input type="radio" id="{{parhaan_haku.id}}" value="min" name="{{parhaan_haku.name}}" 
                    {% ifequal parhaan_haku.value "min" %}checked="checked" {% endifequal %}
                /> pienin</label><br>
                <input type="radio" id="{{parhaan_haku.id}}" value="max" name="{{parhaan_haku.name}}"
                    {% ifequal parhaan_haku.value "max" %}checked="checked" {% endifequal %}
                /> suurin</label><br>
                <input type="radio" id="{{parhaan_haku.id}}" value="" name="{{parhaan_haku.name}}" 
                    {% ifequal parhaan_haku.value "" %}checked="checked" {% endifequal %}
                /> {%if vapaa %} kaava: 
                <span onmouseover="tooltip.show('Tähän tulee kaava, joka määrittää suorituksen, jolla saa täydet pisteet.<br> Kaavassa voi käyttää normaalien funktioiden lisäksi muutamaa lisäviitettä:<br>suor (kaikkien vartioiden suoritukset)<br>muk (mukana olevien vartioiden suodatin)<br><br>Esimerkiksi<br>min(suor*muk) pienin mukana olevan vartion suoritus<br>' );" 
                    onmouseout="tooltip.hide();">
                    <img src="/kipamedia/help_small.png" />
                </span>
                {%else%} kiinteä: {% endif %}</label>
                <input type="text" size="40" name="{{kiintea.name}}" id="{{kiintea.id}}" value="{{kiintea.value}}" />
                <font color=red><b> {{kiintea.errors}} </b></font><br>

                Montako kisapistettä jaetaan: 
                <input type="text" size="6" name="{{jaettavat.name}}" id="{{jaettavat.id}}" value="{{jaettavat.value}}" /> 
                <font color=red><b> {{jaettavat.errors}} </b></font>              
            </td>
            <td>
                <p>Tässä kerrotaan suoritus, jolla saa maksimipisteet. </br>
                Tämä voi olla vartioiden suorituksista pienin, suurin tai jokin kiinteä luku. Mikäli kyseessä on arviointi valitse pienin.</p>
            </td>
        </tr>

    </table>

</fieldset>
