<table border="0">
<p>
Tässä kerrotaan suoritus, jolla saa nolla pistettä. Tämä voi olla jokin kiinteä suoritus tai interpoloinnissa keskimmäisestä tuloksesta laskettu.
</p>
<tr valign="top">
                <td>
                <font color=red><b>
                {{form.valinta.errors}}
                </b></font>
                </td>
                <td>
                {{form.valinta_ki}}
                </td>
                <td>
                <fieldset>
                  <legend>Kiinteä</legend>
                  <p>
                  Kiinteä suoritus:
                        <font color=red><b>
                        {{form.kiintea.errors}}
                        </b></font>
                        {{form.kiintea}}
                  </p>
                </fieldset>
                  </td>
                <td>
                {{form.valinta_ke}}
                </td><td>
                <fieldset>
                
                <legend>Kerroin keskimmaisesta</legend>
                   <p>
                        <font color=red><b>
                                {{form.kerroin.errors}}
                        </b></font>
                        {{form.kerroin}}
                        <font color=red><b>
                                {{form.muu.errors}}
                        </b></font>
                      {{form.muu}}
                    </p>
                </fieldset>
      </tr>
</table>

