{% extends "tupa/forms/valitse.html" %}

{% block header%} 
        <fieldset>
        <legend>Osatehtava {{ nimi }}</legend>
{% endblock%}

{% block sarake %}
        <table border="0">
        
        <td><font color=red><b> 
        {{osatehtava.errors}}
        </b></font>

        {% ifequal osatehtava.value sarake.tyyppi %}
                <input  type="radio" id="aa" name="{{osatehtava.id}}" value="{{sarake.tyyppi}}" checked="checked"/>
        {% else %}
                <input type="radio" id="aa" name="{{osatehtava.id}}" value="{{sarake.tyyppi}}" />
        {% endifequal %}
        </td>
        <td>
       {{sarake.form}}
        </td>
        </table>

{% endblock%}

{% block footer %}
        </fieldset>
{% endblock%}
