<h1> {{ heading }}</h1>

<fieldset>
<legend>Osatehtava {{ nimi }}</legend>

<style type="text/css"> 
div {
display: none;
}

</style> 
{% if taulukko %}

Osatehtävän tyyppi: 
{% for sarake in taulukko%}
        <input type="radio" id="aa" name="{{osatehtava.id}}" value="{{sarake.tyyppi}}" 
        onclick="
        {% for sa in taulukko%}
                {%ifequal sa.tyyppi sarake.tyyppi %}
                        setVisibility('{{sa.id}}','inline')
                {% else %}
                        setVisibility('{{sa.id}}','none')
                {% endifequal %}
        {% endfor %} "
        
        {%ifequal sarake.tyyppi tyyppi %} checked='checked' {% endifequal %} />
        {{sarake.otsikko}} &nbsp &nbsp
{% endfor %}
{% for sarake in taulukko%}
        
        <div id="{{sarake.id}}" >    
        
        
        <table border="0">
        
        <td><font color=red><b> 
        {{osatehtava.errors}}
        </b></font>

        
        </td>
        <td>
       {{sarake.form}}
        </td>
        </table>
        </div>
{% endfor %}
<script type="text/javascript">
setVisibility('{{nimi}}_{{tyyppi}}','inline')
</script>

{%endif%}


</fieldset>
