<fieldset>         
                          
                {{maariteFormset.management_form}} 
                {% for form in maariteFormset.forms %}
                       nimi{{ form.nimi }}syotteen kuvaus {{ form.kali_vihje }} {{form.tyyppi}}{{form.DELETE}}<br>
                {% endfor %}
</fieldset>
<fieldset>
              <legend>Osatehtävän laskentakaava:</legend>
              <p>Tässä kerrotaan kaava, jonka mukaan syötteistä lasketaan osatehtävän pisteet. Syötteisiin viitataan kirjaimilla A-J. Jos kaavan tulos on negatiivinen, se muutetaan nollaksi, koska suorituksesta ei voi saada negatiivisia pisteitä.</p>
              <p>Jos syötteet lasketaan suoraan yhteen, on kaava pelkästään SS, eli suora summa. Muuten käytetään operaattoreita +. -, * ja /. Kerto- ja jakolasku lasketaan ennen yhteen- ja vähennyslaskua. Järjestystä voidaan muuttaa suluilla.</p>
              <p>Esimerkki: (A+B) * C + D</p>

              <p>Lisäksi käytössä on operaattori ?. Sitä käytetään operandien välissä (esim. A ? B) ja se valitsee itsesarvoltaan suuremman A:sta ja B:stä.              </p>
              <p>
                <input name="textfield8" type="text" id="textfield22" size="30" />
              </p>
</fieldset>
