{% extends "tupa/base.html" %}
{% block content %} 

<A href='../../'>taakse</A> <br>
<h2>Vartioiden määritys</h2>
<h3>Valitse sarja ja syötä vartiot</h3>

{% if sarja_vartiot %} 
        <form action="." method="post">     
	<ul id="sarjatabs" class="shadetabs">
		{% for sarja in sarja_vartiot%}
		    {% ifequal sarja sarja_vartiot.0  %}
			    <li><a href="#" rel="sarja{{ sarja.0.id }}" class="selected">{{ sarja.0.nimi }}</a></li>
	            {% else %}
			    <li><a href="#" rel="sarja{{ sarja.0.id }}">{{ sarja.0.nimi }}</a></li>
		    {% endifequal %}
		{% endfor %}
	</ul>
       
	<div style="border:1px solid gray; width:800px; margin-bottom: 1em; padding: 10px">
	
		{% for sarja in sarja_vartiot%}
		<div id="sarja{{ sarja.0.id }}" class="tabcontent">
			<ul id="tehtavatabs" class="">
				{% for vartio in sarja.1 %}
				    {{vartio}} <br>
                                {% endfor %}
			</ul>
		</div>
		{% endfor %}
	</div>
        <input type="submit"name="syote" value="Tallenna" >
        </form>



{% else %}
    <p>Ei määriteltyjä sarjoja.</p>

{% endif %}

{% endblock %}

