{% extends "tupa/base.html" %}
{% block title %}{{ heading }}{% endblock %}
{% block content %} 

<h1>{{ heading }}</h1>

<form method="POST" action="">
{% if forms %}
    {% for form in forms%}
        <legend>{{form.label}}</legend>
        {{form}} <br>
    {% endfor%}
{% endif %}
{% if formsets %}
    {% for formset in formsets %}
        <legend>{{formset.label}}</legend>
        {{ formset.management_form }}
        {% for form in formset.forms %}
                        {{ form }} <br>
        {% endfor %}
    {% endfor%}
{% endif %}
<br>
{% include "tupa/tallenna.html" %}
</form>
{% endblock %}

