{% extends "tupa/base.html" %}
{% block header %}
{{ block.super }}
<script type="text/javascript" src="/kipamedia/enter-as-tab2.js"></script>
<script type="text/javascript" src="/kipamedia/keyhandler.js"></script>
<script type="text/javascript" src="/kipamedia/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/kipamedia/jquery.maskedinput-1.2.2.min.js"></script>
<script type="text/javascript" src="/kipamedia/highlight-active-input.js"></script>
{% endblock header%}

{% block content %} 
<body onLoad="document.forms.form1.textfield.focus()">

<h1>Tehtävä: {{tehtava.nimi}} </h1>

<A href='../../'>taakse</A> <br><br>

<table width="600" border="0" cellpadding="2" cellspacing="0">
  <tr>
    <td width="100" class="tauluOtsikko">Tehtävä:</td>
    <td width="25" bgcolor="#E8EDFF">{{tehtava.jarjestysnro}}</td>
    <td width="91" bgcolor="#E8EDFF">{{tehtava.nimi}}</td>
    <td bgcolor="#E8EDFF">&nbsp;</td>
  </tr>
  <tr>

    <td class="tauluOtsikko">Sarja:</td>
    <td colspan="3" bgcolor="#E8EDFF">{{tehtava.sarja.nimi}}</td>
  </tr>
  <tr>
    <td valign="middle" class="tauluOtsikko">Yhteyshenkilö:</td>
    <td colspan="2" valign="middle" bgcolor="#E8EDFF">Johanna Jormakka</td>
    <td bgcolor="#E8EDFF">040-942 7230</td>

  </tr>
  <tr valign="middle">
    <td valign="middle" class="tauluOtsikko">Tehtävän tila:</td>
    <td colspan="2" valign="middle" bgcolor="#FFFF66"><label>syötetty osittain</label></td>
    <td bgcolor="#E8EDFF"><label><input type="checkbox" name="checkbox" id="checkbox" />tarkistettu</label></td>
  </tr>
</table>
<br />

<form action="." name="form1" method="post">     
   
    <table id="taulukko" border="0" cellpadding="2" cellspacing="0">
        <tr>
            <th colspan="2">
            Syötteen nimi:
            </th>
            {% for maarite in maaritteet %}
               <th>
                   {{ maarite.nimi }} 
               </th>
            {% endfor %}
        </tr>
        <tr>
            <th colspan="2">
            Syötteen tyyppi:
            </th>
            {% for maarite in maaritteet %}
               <th>
                   {{ maarite.tyyppi }} 
               </th>
            {% endfor %}
        </tr>
        <tr>
            <th colspan="2">
            Syötteen kuvaus:
            </th>
            {% for maarite in maaritteet %}
               <th>
                   {{ maarite.kali_vihje }} 
               </th>
            {% endfor %}
        </tr>

        {% for vartio in syotteet %}
            <tr valign="top" class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
                  <td width="15">
                  {{ vartio.0.nro}}
                  </td>
		<td width="100">
                  {{ vartio.0.nimi }}
		</td>
                  {% for kentta in vartio.1 %}
                         <td>
                         {{kentta.errors}}
                         {{kentta.arvo}}
                         </td>
                  {% endfor %}
            </tr>
        {% endfor %}

     
    </table>
    {% include "tupa/tallenna.html" %}
    </form>

<p>
e - vartio ei ole tehnyt tehtävää<br />
h - vartion suoritus on hylätty<br />
</p>

<p><a href="">Katso tämän tehtävän tulokset</a></p>

<!-- tarvitaan, jotta enterillä pääsisi seuraavaan kenttään, pitää olla sivun lopussa, formin pitää olla nimeltään form1 -->
<script type='text/javascript'>	
	enterToTab(document.forms.form1, false);
	document.forms.form1.elements[0].focus();
</script>

	
<script type="text/javascript" language="javascript" src="/kipamedia/tooltip.js"></script>

<!-- Maskaus vaikuttaa niihin tekstikenttiin, joiden ID on listattu alla -->
<script type="text/javascript">
jQuery(function($){
   $("#aika").mask("9:99:99");
});
</script>

<script type="text/javascript">
// Initialize the input highlight script
initInputHighlightScript();
</script> 

{% endblock %}

