{% extends "tupa/base.html" %}
{% block content %} 

<h1>NÄYTÄ TULOKSET</h1>
 {{ tulos_taulukko.0.0.kisa.nimi}} <br>  

<p><A href='../../'>taakse</A></p>

<br>
<p>
{% if tulos_taulukko %}
	<table width="600" border="1">
		{% for rivi in tulos_taulukko%}
                      <tr>
			    {% for sarake in rivi %}
			         <td>{{ sarake }}</td>
			    {% endfor %}    
		      </tr>    
		{% endfor %}
	</table>
       
{% else %}
    <p>Ei tuloksia.</p>
{% endif %}

<p>
 S = syöttämättä <br>
 H = vartion suoritus hylatty<br>
 K = vartio keskeyttanyt<br>
 None = Laskentavirhe
</p>

</form>
{% endblock %}
