{% extends "tupa/base.html" %}
{% block content %} 

<A href='../../'>taakse</A>

<h1>NAYTA TULOKSET</h1>
 {{ tulos_taulukko.0.0.kisa.nimi}} <br>  

<br
<p>
{% if tulos_taulukko %}
	<table width="600" border="1">
		{% for rivi in tulos_taulukko%}
                      <tr>
			    {% for sarake in rivi %}
			        <td>{{ sarake }}</td>
			    {% endfor %}    
		      </tr>    
		{% endfor %}
	</table>
       
{% else %}
    <p>Ei tuloksia.</p>
{% endif %}

<p>
 p = vartion suoritus puuttuu<br>
 h = vartion suoritus hylatty<br>
 k = vartio keskeyttanyt<br>
</p>

</form>
{% endblock %}
