Package: kipa
Version: 0.9-0
Architecture: all
Maintainer: Frans Korhonen [frans.korhonen@gmail.com]
Depends: apache2, python , python-django (>= 1.0), libapache2-mod-python
Section: opt 
Priority: extra
Description: KiPa(KisaPalvelu), tuloslaskentajärjestelmä partiotaitokilpailuihin



