with open("/secret.txt", "r") as f:
    SECRET_KEY = f.readline()

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.mysql",
        "NAME": "/db/kipa.db",
    }
}

DATA_UPLOAD_MAX_NUMBER_FIELDS = None
